.navv
{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.navv:hover
{
    color: #CC0000;
}

.active
{
    color: #CC0000;
    text-decoration: underline;
    text-underline-offset: 8px;
}