.navv, .lang
{
    font-family: 'Zen Old Mincho';
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.5vh;
    text-underline-offset: 0.8vh;
}

.navv:hover
{
    color: #CC0000;
}

.lang:hover
{
    color: #CC0000;
}

.navv.active
{
    color: #CC0000;
    text-decoration: underline;
    text-underline-offset: 0.8vh;
}

@media screen and (max-width: 900px) 
{
    .nav-menu 
    {
        display: none;
    }

    .active 
    {
        display: flex;
    }

    .navv, .lang
    {
        font-family: 'Zen Old Mincho';
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 1.8vh;
        text-underline-offset: 0.8vh;
    }
}