.navv, .lang
{
    font-family: 'Zen Old Mincho';
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.5vh;
    text-underline-offset: 0.8vh;
}



.navv:hover, .lang:hover
{
    color: #CC0000;
}

.navv.active
{
    color: #CC0000;
    text-decoration: underline;
    text-underline-offset: 0.8vh;
}

