@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200..900&display=swap');

html, body {

    padding: 0;
    
    margin: 0;
    
    }



.slide-in
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 191, 191, 50%), rgba(255, 191, 191, 50%) 50%) , url('assets/images/transition.png');
    transform-origin: top;
    background-size: 100% 100%;
    z-index: 0;
}

